body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-div{
    width: 100%;
    height: 1020px;
}
.header{
    width: 100%;
    height: 90px;
    background-color: #943336;
    padding left: 40px;
}
.footer{
    width: 100%;
    height: 150px;
    background-color:#4b3622;
    float: left;
}
.left{
    width: 20%;
    height: 720px;
    float: left;
    background-color: #8f80cf
    
}
.right{
    width: 80%;
    height: 720px;
    float: left;
    background-color: #cacfe2
}
.container{
    width: 100%;
    height: 720px;
    
}
.head-logo{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.header{
    padding-left: 150px;
    padding-top: 40px;
    float: left;
}
.head-left{
     width: 40%;
    float: left;
}
.head-right{
    width: 60%;
    float: left;
}
.frm{
    width: 50%;
}
.forgot{
    text-decoration: none;
    color: wheat;
}
.login-label{
   color: yellow;
}
.sbt-btn{
    cursor: pointer;
    background-color: #8f80cf;
    font-weight: bold;
    color: whitesmoke;
    height: 24px;
    border-color: bisque;
}
.td1{
    height: 40px;
}
.sbt-btn:hover{
    background-color: #943336;
}
.head-logo:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-label:hover{
    color:whitesmoke;
}
.menu-nav{
    cursor: pointer;
    width: 60%;
    color:rgb(43, 185, 91);
    align-content: end;
    float: right;
}